body {
	background-image: url("uv2.png");
	background-color: #cccccc;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100vw;
	height: 100vh;
	margin: 0px;
	display: flex;
}

button {
	display: none;
	border: none;
	outline: none;
	background-color: transparent;
}

button img {
	cursor: pointer;
}

#playbut {
	position: absolute;
	flex-direction: row;
	padding: 0px;
	align-self: center;
	left: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#playbut img {
	width: 25vw;
	height: auto;
}

#teamspeak {
	position: absolute;
	flex-direction: row;
	padding: 0px;
	align-self: center;
	right: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#teamspeak img {
	width: 25vw;
	height: auto;
}

#youtube {
	position: absolute;
	flex-direction: row;
	padding: 0px;
	bottom: 1vw;
	left: 40vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#youtube img {
	width: 4vw;
	height: auto;
}

#instagram {
	position: absolute;
	flex-direction: row;
	padding: 0px;
	left: 45vw;
	bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#instagram img {
	width: 4vw;
	height: auto;
}

#facebook {
	position: absolute;
	flex-direction: row;
	padding: 0px;
	right: 45vw;
	bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#facebook img {
	width: 4vw;
	height: auto;
}

#discord {
	position: absolute;
	flex-direction: row;
	padding: 0px;
	right: 40vw;
	bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#discord img {
	width: 4vw;
	height: auto;
}

#fermer {
	position: absolute;
	height: 2vw;
	width: 2vw;
	color: #d2b85f;
	font-size: 2vw;
	right: 1vw;
	cursor: pointer;
	font-weight: bold;
	vertical-align: center;
	display: flex;
	text-align: center;
	vertical-align: center;
	align-items: center;
	justify-content: center;
}

#fermer:hover {
	border: 0.2vmin solid #d2b85f;
	border-radius: 1.5vw;
}

#reduire {
	position: absolute;
	height: 2vw;
	width: 2vw;
	color: #d2b85f;
	font-size: 2vw;
	right: 4vw;
	cursor: pointer;
	font-weight: bold;
	vertical-align: center;
	display: flex;
	text-align: center;
	vertical-align: center;
	align-items: center;
	justify-content: center;
}

#reduire:hover {
	border: 0.2vmin solid #d2b85f;
	border-radius: 1.5vw;
}

#scoop1{
	position: absolute;
	flex-direction: row;
	padding: 0px;
	left: 1vw;
	bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#scoop1 img{
	width: 10vw;
	height: auto;
}

#scoop2{
	position: absolute;
	flex-direction: row;
	padding: 0px;
	right: 1vw;
	bottom: 1vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#scoop2 img{
	width: 10vw;
	height: auto;
}	